SUBSYSTEM=="usb", ACTION=="add", SYSFS{idProduct}=="0047", SYSFS{idVendor}=="079b", MODE="0666", SYMLINK="CBM_%k"
SUBSYSTEM=="usb", ACTION=="add", SYSFS{idProduct}=="0023", SYSFS{idVendor}=="079b", MODE="0666", SYMLINK="MSO100_%k"
SUBSYSTEM=="usb", ACTION=="add", SYSFS{idProduct}=="0024", SYSFS{idVendor}=="079b", MODE="0666", SYMLINK="MSO300_%k"
SUBSYSTEM=="usb", ACTION=="add", SYSFS{idProduct}=="0025", SYSFS{idVendor}=="079b", MODE="0666", SYMLINK="MSOTEST_%k"
SUBSYSTEM=="usb", ACTION=="add", SYSFS{idProduct}=="0026", SYSFS{idVendor}=="079b", MODE="0666", SYMLINK="MSO350_%k"
SUBSYSTEM=="usb", ACTION=="add", SYSFS{idProduct}=="0052", SYSFS{idVendor}=="079b", MODE="0666", SYMLINK="MSO1310_%k"

